<a href="https://colab.research.google.com/github/prunojumah/Last_IP/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_Pruno_Jumah_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Importing panda and numpy libraries

import pandas as pd
import numpy as np

#loading the csv file on python by first assigning it to a variable
Autolib = '/content/Autolib_dataset (2).csv'

df = pd.read_csv(Autolib)

#viewing the table
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [4]:
#Resizing and cleaning data to remain with what is relevant to our research
df.drop(['Displayed comment','Scheduled at','Geo point','ID','Address'], axis=1, inplace=True)
df.head(10)

   Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0     0                0               0  ...    8    11     43
1     6                6               0  ...    6     7     24
2     3                3               0  ...    3    20     14
3     3                3               1  ...    4     4     37
4     3                3               0  ...    8    17     23
5     0                0               0  ...    6     7      2
6     0                0               0  ...    8    18     20
7     3                3               1  ...    4    22     13
8     1                1               0  ...    2    22     58
9     6                6               0  ...    4    15      2

[10 rows x 20 columns]

In [5]:
#Capitalizing the column names to enhance uniformity
df.columns = df.columns.str.upper().str.strip().str.replace(' ','_').str.replace('.','')
df.columns

Index(['CARS', 'BLUECAR_COUNTER', 'UTILIB_COUNTER', 'UTILIB_14_COUNTER',
       'CHARGE_SLOTS', 'CHARGING_STATUS', 'CITY', 'KIND', 'POSTAL_CODE',
       'PUBLIC_NAME', 'RENTAL_STATUS', 'SLOTS', 'STATION_TYPE', 'STATUS',
       'SUBSCRIPTION_STATUS', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE'],
      dtype='object')

In [8]:
#Dropping all the entries that are not associated with the city of Paris
df= df.drop(df[(df.CITY !='Paris')].index)

#Displaying the resulting data
df

      CARS  BLUECAR_COUNTER  UTILIB_COUNTER  ...  DAY  HOUR MINUTE
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
5        0                0               0  ...    6     7      2
...    ...              ...             ...  ...  ...   ...    ...
4992     0                0               0  ...    9    23      1
4994     0                0               0  ...    1    20     49
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4999     4                4               0  ...    8    10      2

[2816 rows x 20 columns]

In [21]:
#Sorting the dates of the dataset so that it can be in a chronological order
df1 = df.sort_values(by=['POSTAL_CODE','DAY','HOUR','MINUTE'], ascending=True)
df1

      CARS  BLUECAR_COUNTER  UTILIB_COUNTER  ...  HOUR  MINUTE BLUECARS
2854     0                0               0  ...    10      54      NaN
2459     1                1               0  ...    14      25      1.0
4943     0                0               0  ...    15      14     -1.0
4573     2                2               0  ...    21      27      2.0
1618     0                0               0  ...     1      38     -2.0
...    ...              ...             ...  ...   ...     ...      ...
2054     6                6               0  ...    18      34      6.0
712      6                6               0  ...     9      28      0.0
375      3                3               0  ...     3      55     -3.0
742      6                6               0  ...     9      41      3.0
4012     5                5               0  ...    16      47     -1.0

[2816 rows x 21 columns]

In [11]:
#Creating a column to determine how many shared electric cars (BlueCars) were given out or brought back

df['BLUECARS'] = df.BLUECAR_COUNTER.diff()

#Picking out unique numbers to determine the highest number of cars picked throughout the dataset

df.BLUECARS.unique()
#From the dataset, -7 is the highest number and therefore proceed to determine its equivalent/coresponding time

array([nan,  1., -1.,  2., -2.,  0.,  3., -3.,  4., -4.,  5., -5.,  6.,
       -6.,  7.])

In [17]:
Time = df[(df.BLUECARS==7.0)].groupby('HOUR')['HOUR'].count().sort_values(ascending=False)
Time

HOUR
17    1
3     1
Name: HOUR, dtype: int64

In [18]:
#That simply means the highest number in Paris in the month of April 2018 were picked at 1700hrs and 0300hrs
#in 12-hour-clock system, 5pm and 3am

In [19]:
#Determining the postal code that is the most popular for picking up Blue cars
Time2=df[(df.RENTAL_STATUS=='operational')&(df.BLUECARS)].groupby('POSTAL_CODE')['POSTAL_CODE'].count().sort_values(ascending=False)
Time2.head(20)

POSTAL_CODE
75016    194
75015    192
75017    168
75013    135
75020    135
75011    128
75012    120
75019    109
75014    109
75018     94
75008     90
75010     74
75007     72
75009     63
75005     62
75003     39
75006     38
75004     35
75002     26
75001     24
Name: POSTAL_CODE, dtype: int64

In [20]:
#The most popular postal codes are outlined above.

In [23]:
#Determining the City that is the most popular for picking up Blue cars
Time2=df1[(df1.RENTAL_STATUS=='operational')&(df.BLUECARS)].groupby('CITY')['CITY'].count().sort_values(ascending=False)
Time2.head(20)

CITY
Paris    1916
Name: CITY, dtype: int64